footer.c-footer
    .container
        .row
            .col-12.col-xl-4
                .c-footer-requisites
                    .c-footer-requisites__item
                        a.c-footer-requisites__logo(href='#')
                            img.c-logo(src='images/logo.png')
                    .c-footer-requisites__item
                        .c-footer-requisites__address Московское шоссе, 41
                    .c-footer-requisites__item
                        a.c-footer-requisites__phone(href="tel:+7 (846) 372-72-72") +7 (846) 372-72-72
            .col-12.order-xl-first
                ul.row.c-menu.c-menu_footer
                    li.c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') Новости
                    li.c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') О центре
                    li.c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') Наши арендаторы
                    li.c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') Сервис
                    li.c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') Аренда офисов
                    li.c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') Инфраструктура
                    li.c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') Контакты
                    .c-menu__item.col-6.col-xl-auto
                        a.c-btn.c-btn_link.c-btn_color-primary.c-menu__link(href='#') Паркинг
            .col-12.col-xl-8
                .c-footer-content
                    .c-footer-content__text
                        | Офисный центр премиум-класса для крупных региональных, федеральных и иностранных компаний. Один из немногих центров деловой недвижимости в Самаре, где сочетается высокий уровень объекта, престижность, выгодность его расположения и доступность транспортных магистралей. Общая площадь РДЦ- 13500 кв.м. Высокая транспортная доступность, современное оснащение здания, комплекс услуг управляющей компании, услуги наших арендаторов, внутренняя система коммуникаций призваны экономить ваше время секунду за секундой. А чем быстрее вы закрываете рабочие задачи, тем больше зарабатывает ваша компания.
            .col-12
                .c-footer-copyright
                    .c-footer-copyright__item © 2021 «Региональный Деловой Центр»
                    .c-footer-copyright__item
                        a.c-btn.c-btn_link.c-btn_color-primary.c-btn_style-default(href='#') Политика конфиденциальности
                    .c-footer-copyright__item
                        a.c-btn.c-btn_link.c-btn_color-primary.c-btn_style-default(href='#') Разработка и сопровождение
