header.c-header
    .container
        .c-header__body
            .c-header__item
                .c-header__logo-wrap
                    a.c-header__logo(href='#')
                        img.c-logo(src="images/logo.png")
                    .c-header__menu-handler
                        button.c-btn-ico.c-btn-ico_md.c-btn-ico_color-primary(data-menu-handler, type='button')
                            +svgSprite({name: 'burger', className: 'c-btn-ico__icon', width: 13, height: 12})
            .c-header__item
                .c-header__menu
                    ul.row.c-top-menu(data-open='closed')
                        li.c-top-menu__item.col-6.col-xl-auto
                            a.c-btn.c-btn_link.c-btn_color-primary.c-top-menu__link(href='#') Новости
                        li.c-top-menu__item.col-6.col-xl-auto
                            a.c-btn.c-btn_link.c-btn_color-primary.c-top-menu__link(href='#') Наши арендаторы
                        li.c-top-menu__item.col-6.col-xl-auto
                            a.c-btn.c-btn_link.c-btn_color-primary.c-top-menu__link(href='#') Аренда офисов
                        li.c-top-menu__item.col-6.col-xl-auto
                            a.c-btn.c-btn_link.c-btn_color-primary.c-top-menu__link(href='#') Контакты
            .c-header__item
                .c-header__contacts.row
                    .col-auto
                        a.c-header__geo.c-btn.c-btn_size-md.c-btn_color-light.c-btn_style-ghost(href='#') Московское шоссе, 41
                    .col-auto
                        a.c-header__phone(href="tel:+7 (846) 372-72-72") +7 (846) 372-72-72