head
    meta(charset='UTF-8')
    meta(content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' name='viewport')
    meta(content='ie=edge' http-equiv='X-UA-Compatible')
    //link(href='css/magnific-popup.css' rel='stylesheet')
    //link(href='css/owl.carousel.css' rel='stylesheet')
    link(as='font' crossorigin='anonymous' href='fonts/Circe-Regular.woff2' rel='preload' type='font/woff2')
    link(as='font' crossorigin='anonymous' href='fonts/PFDinDisplayPro-Regular.woff2' rel='preload' type='font/woff2')
    link(href='styles.css' rel='stylesheet')
    link(href='template_styles.css' rel='stylesheet')
