-
    var models = {
        newsCardModel: {
            img: "images/news-card-bg.jpg",
            href: "#",
            title: "В РДЦ появились свободные торговые площади  и офисы для аренды",
            info: [
                {text: "21 апреля 2021 г.",svg: {name: 'calendar', className: 'c-news-info__icon', width: 16, height: 16}},
                {text: "120", svg: {name: 'eye', className: 'c-news-info__icon', width: 21, height: 12}}
            ]
        },
        cardLinkModel: {
            img: "images/link-card-bg.jpg",
            href: "#",
            title: "Рецепция и зона ожидания для гостей"
        },
        newsInfoModel: [
            {text: "21 апреля 2021 г.", svg: {name: 'calendar', className: 'c-news-info__icon', width: 16, height: 16}},
            {text: "120", svg: {name: 'eye', className: 'c-news-info__icon', width: 21, height: 12}}
        ],
        tabListModel:[
            {text: 'ВСЕ', href: '#'},
            {text: 'от РДЦ', href: '#'},
            {text: 'Новости арендаторов', href: '#'},
            {text: 'СМИ о нас', href: '#'}]

    }