extends ../pug/layout
append content
    .c-descr(style='background-image:url(images/descr-bg.jpg)')
        .row.u-reset-indent.c-descr__list

            .col-12.col-md-6.c-descr__item.c-descr__item_text
                .c-descr__text.half-container
                    +breadCrumbsBanner({value: 'О центре'})
                    .c-descr__title Основная задача РДЦ – обеспечить безупречный комфорт и наилучшие условия для развития вашего бизнеса Время – самый ценный ресурс, которым располагает деловой человек, а грамотно распоряжаться этим ресурсом – настоящее искусство. «Региональный Деловой Центр» создан, чтобы экономить ваше время. Оптимальное расположение в географическом центре Самары и высокая транспортная доступность дают возможность без труда добраться до РДЦ из любой точки города. Инженерное оснащение здания и полный комплекс услуг управляющей компании позволяют нашим арендаторам сосредоточиться на бизнесе, а не на поддержании комфорта в офисе. Грамотно сформированная инфраструктура обеспечивает перспективное окружение и способствует росту деловой активности.
            .col-12.col-md-6.c-descr__item
                .c-descr__img
        .c-descr__footer
            .container
                .row.c-teasers-list
                    .col-6.col-lg-auto.c-teasers-list__item
                        .c-teaser-item
                            .c-teaser-item__title
                                | 13 500 м
                                sup 2
                            .c-teaser-item__text Общая площадь
                    .col-6.col-lg-auto.c-teasers-list__item
                        .c-teaser-item
                            .c-teaser-item__title
                                | 1 350 м
                                sup 2
                            .c-teaser-item__text Полезная площадь каждого этажа
                    .col-6.col-lg-auto.c-teasers-list__item
                        .c-teaser-item
                            .c-teaser-item__title до 5,1 м
                            .c-teaser-item__text Высота потолков
                    .col-6.col-lg-auto.c-teasers-list__item
                        .c-teaser-item
                            .c-teaser-item__title
                                | от 500 руб./м
                                sup 2
                            .c-teaser-item__text Аренда офисов

    .c-section.c-section_lg.u-bg-secondary
        .container
            .c-section__header.u-color-light класс «А»
            .row
                .col-12.col-xl-6
                    ul.c-arrow-list
                        li.c-arrow-list__item  Удобный доступ к главным артериям города: Московское шоссе и ул. Ново-Садовая. Меньше времени на дорогу, больше – на развитие бизнеса.
                        li.c-arrow-list__item  Панорамное остекление с видом на деловую часть Самары, реку Волга и Жигулевские горы
                        li.c-arrow-list__item  Высота потолков от 3,3 до 5,1 метров соответствует стандартам элитной коммерческой недвижимости.
                        li.c-arrow-list__item  Итальянский дизайн интерьеров, современные планировочные решения создают идеальные условия для продуктивной работы, вдохновляют и заряжают энергией.
                        li.c-arrow-list__item  Центральное кондиционирование «Daikin», приточно-вытяжная вентиляция «Vts Clima» и регулируемая система отопления создают безупречный комфорт.
                        li.c-arrow-list__item  4 пассажирских швейцарских лифта Schindler и 1 грузовой позволяют разделить потоки резидентов центра и соответствовать современным требованиям профилактики инфекционных болезней.
                        li.c-arrow-list__item  Спринклерная водонаполненная система пожаротушения «Grundfos», интеллектуальная система управления зданием «Simens Building Technologies», видеомониторинг периметра и внутренних зон эффективно обеспечивают безопасность.
                        li.c-arrow-list__item  Оптоволоконный доступ в Интернет и неограниченное количество телефонных номеров позволяют всегда оставаться на связи.
                        li.c-arrow-list__item  У РДЦ расположена малая парковка для арендаторов на 382 машиноместа + большая парковка на 500 машиномест
                .col-6.d-none.d-xl-block
                    img.w-100(src='images/BC.svg')

    +infro()
    +transport()
    .c-description.c-description_left-desc
        .row.h-100.u-reset-indent.c-description__list
            .col-12.col-md-6.c-description__item.c-description__item_left
                .half-container.c-description__desc После ввода в эксплуатацию офисное здание «Регионального Делового Центра» стало настоящей жемчужиной Самары. Зеркальный фасад необычной формы находится в гармонии с окружающей застройкой. Богатая входная группа призвана не только эстетически радовать посетителей, но и служить комфорту и безопасности. В вестибюле комплекса выполнена дорогая отделка с использованием натуральных и экологически чистых материалов. Этажи, зоны общего пользования и холлы также имеют высококачественную отделку.
            .col-12.col-md-6.order-1.order-md-0.c-description__item
                .c-description__img(style='background-image:url(images/desc1.jpg)')
    .c-description.c-description_right-desc
        .row.h-100.u-reset-indent.c-description__list
            .col-12.col-md-6.c-description__item.order-1.order-md-0
                .c-description__img(style='background-image:url(images/desc2.jpg)')
            .col-12.col-md-6.c-description__item
                .half-container.c-description__desc На 1 этаже размещена служба ресепшн, приветливо встречающая сотрудников и посетителей РДЦ. Гости могут воспользоваться услугами бесплатного Wi-Fi. Особое внимание уделено безопасности пребывания: осуществляется круглосуточный видеомониторинг периметра и общественных зон здания. Задействованы цифровые системы связи 2 провайдеров.
    .c-description.c-description_left-desc
        .row.h-100.u-reset-indent.c-description__list
            .col-12.col-md-6.c-description__item.c-description__item_left
                .half-container.c-description__desc Для клиентов бизнес-центра «Региональный Деловой Центр» представлены офисные пространства с открытой и смешанной планировкой. Все помещения предлагаются в аренду уже с готовой отделкой. Дизайн интерьеров выполнен в стильном минималистичном ключе. Отделка соответствует современным требованиям экологических стандартов.
            .col-12.col-md-6.order-1.order-md-0.c-description__item
                .c-description__img(style='background-image:url(images/desc3.jpg)')
    .c-description.c-description_right-desc
        .row.h-100.u-reset-indent.c-description__list
            .col-12.col-md-6.c-description__item.order-1.order-md-0
                .c-description__img(style='background-image:url(images/desc4.jpg)')
            .col-12.col-md-6.c-description__item
                .half-container.c-description__desc У РДЦ расположена собственная малая парковка для арендаторов на 382 машиноместа + большая парковка на 500 машиномест. Резидентам на каждые 50 м2 арендуемой площади выделяется одно льготное машиноместо на собственной малой парковке. Приятным бонусом для автомобилистов станет наличие автомойки и автозаправок в непосредственной близости от РДЦ.
    +feedback()
    +offices()
    +feedbackForm()







