extends ../pug/layout
append content
    .container
        .c-section.c-section_lg
            .c-section__header
                +sliderHeader({title: 'Новости', tabListItems: models.tabListModel})
            .row.c-card-news-list
                .col-12.col-md-6.c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
    .c-card-section(style="background-image:url(images/bg-arenda.jpg)")
        +actionCard({text: 'Аренда офисов <br> от 10 м2 до 1350 м <sup>2</sup>', btnText: 'выбрать сейчас'})
    .container
        .c-section.c-section_lg
            .row.c-card-link-list
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)