extends ../pug/layout
append content
    .c-section.c-section_lg.c-section_banner(style='background-image:url(images/main-banner.jpg)')
        .container
            .c-banner-content
                h1.c-banner-content__title
                    span.c-banner-content__title_small
                        | Это –
                        br
                    | офисный центр
                    br
                    | класса А в Самаре
                .c-banner-content__controls
                    a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') о центре
                .d-none.d-lg-block.c-banner-content__desc Сочетание современного дизайна, эффективных инженерных решений, комфортной среды и профессионального сервиса
                .c-banner-content__footer
                    .c-action-card
                        .c-action-card__body
                            .c-action-card__content Аренда офисов от 500 руб./м2
    .c-section.c-section_lg
        .container
            .c-section__header
                +sliderHeader({title: 'Новости', tabListItems: models.tabListModel})
        .slider-container
            .c-card-news-list.slider.slider_news(data-slider='news-main-page')
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
        .container
            .c-section__footer
                a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') посмотреть все новости
    .c-section.c-section_lg.u-bg-secondary
        .container
            .c-section__header.u-color-light класс «А»
            .row
                .col-12.col-xl-6
                    ul.c-arrow-list
                        li.c-arrow-list__item  Удобный доступ к главным артериям города: Московское шоссе и ул. Ново-Садовая. Меньше времени на дорогу, больше – на развитие бизнеса.
                        li.c-arrow-list__item  Панорамное остекление с видом на деловую часть Самары, реку Волга и Жигулевские горы
                        li.c-arrow-list__item  Высота потолков от 3,3 до 5,1 метров соответствует стандартам элитной коммерческой недвижимости.
                        li.c-arrow-list__item  Итальянский дизайн интерьеров, современные планировочные решения создают идеальные условия для продуктивной работы, вдохновляют и заряжают энергией.
                        li.c-arrow-list__item  Центральное кондиционирование «Daikin», приточно-вытяжная вентиляция «Vts Clima» и регулируемая система отопления создают безупречный комфорт.
                        li.c-arrow-list__item  4 пассажирских швейцарских лифта Schindler и 1 грузовой позволяют разделить потоки резидентов центра и соответствовать современным требованиям профилактики инфекционных болезней.
                        li.c-arrow-list__item  Спринклерная водонаполненная система пожаротушения «Grundfos», интеллектуальная система управления зданием «Simens Building Technologies», видеомониторинг периметра и внутренних зон эффективно обеспечивают безопасность.
                        li.c-arrow-list__item  Оптоволоконный доступ в Интернет и неограниченное количество телефонных номеров позволяют всегда оставаться на связи.
                        li.c-arrow-list__item  У РДЦ расположена малая парковка для арендаторов на 382 машиноместа + большая парковка на 500 машиномест
                .col-6.d-none.d-xl-block
                    img.w-100(src='images/BC.svg')

    .c-section.c-section_lg
        .container
            .c-section__header Сервис
            .row.c-card-link-list
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
            .c-section__footer
                a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') Подробнее о сервисе
    .c-section.c-section_lg.pb-0.p-xl-0
        .container
            .c-section__header.d-xl-none Инфраструктура
        .c-map-section
            .c-map-guide
                .c-map-guide__left.container
                    .c-map-list
                        .c-map-list__header.d-none.d-xl-block Инфраструктура
                        ul.row.c-map-list__list
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Прогулки и парки',
                                    count: 4,
                                    svg: {
                                        name: 'infrastructure-1',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Банки и обмены валют',
                                    count: 9,
                                    svg: {
                                        name: 'infrastructure-2',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Рестораны и кафе',
                                    count: 10,
                                    svg: {
                                        name: 'infrastructure-3',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Рестораны и кафе',
                                    count: 10,
                                    svg: {
                                        name: 'infrastructure-3',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Рестораны и кафе',
                                    count: 10,
                                    svg: {
                                        name: 'infrastructure-3',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Рестораны и кафе',
                                    count: 10,
                                    svg: {
                                        name: 'infrastructure-3',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Спортивные центры',
                                    count: 7,
                                    svg: {
                                        name: 'infrastructure-4',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Продуктовые магазины',
                                    count: 12,
                                    svg: {
                                        name: 'infrastructure-5',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Медицинские учреждения',
                                    count: 5,
                                    svg: {
                                        name: 'infrastructure-6',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                            li.col-auto.col-xl-12.c-map-list__item
                                +mapItem({
                                    title: 'Платные парковки',
                                    count: 2,
                                    svg: {
                                        name: 'infrastructure-7',
                                        className: 'c-map-item__icon-ico',
                                        width: 38,
                                        height: 40
                                    }
                                })
                .c-map-guide__right.d-none.d-xl-block
                    .c-map-suggestions
                        .c-map-suggestions__header Чем заняться в обед?
                        .c-map-suggestions__list
                            .c-map-suggestions__item
                                +suggestionItem({title: 'Покататься на велосипеде в парке', img: 'suggestion-1.jpg'})
                            .c-map-suggestions__item
                                +suggestionItem({
                                    title: 'Поиграть в бильярд или сходить в тир',
                                    img: 'suggestion-2.jpg'
                                })
                            .c-map-suggestions__item
                                +suggestionItem({title: 'Окунуться в виртуальную реальность', img: 'suggestion-3.jpg'})
                            .c-map-suggestions__item
                                +suggestionItem({title: 'Окунуться в виртуальную реальность', img: 'suggestion-3.jpg'})
                            .c-map-suggestions__item
                                +suggestionItem({title: 'Окунуться в виртуальную реальность', img: 'suggestion-3.jpg'})
                            .c-map-suggestions__item
                                +suggestionItem({title: 'Окунуться в виртуальную реальность', img: 'suggestion-3.jpg'})
    .c-section.c-section_lg.u-bg-secondary.u-color-light.u-overflow-hidden.c-decor-wrap(style='background-image:url(images/transport-bg.jpg)')
        .container
            .c-section__header Транспортная доступность
            .row
                .col-12.col-xl-6.transport-desc
                    | Бизнес-центр «Региональный Деловой Центр» расположен в престижном Октябрьском районе г. Самары по адресу: Московское шоссе,
                    br
                    br
                    | д. 41 Рядом с РДЦ пролегают основные транспортные артерии города: Московское шоссе, ул. Авроры, ул. Советской Армии, ул. Ново-Садовая, ул. Стара-Загора. Удобное расположение в географическом и деловом центре города обеспечивает перспективное бизнес-окружение. Бизнес-центр также имеет прямой доступ к историческим и промышленным районам города, междугороднему автовокзалу и международному аэропорту Курумоч.
        .c-decor-container
            img.c-decor.c-decor_transport(src='images/decor-map.png')
        .container
            .c-distance-list
                .c-distance-list__item
                    .c-distance-graph.c-distance-graph_one
                        .c-distance-graph__graph
                            .c-distance-graph__title 1. До Автовокзала
                            +svgSprite({
                                name: 'arrow-line',
                                className: 'c-distance-graph__icon',
                                width: 511,
                                height: 13
                            })
                        .c-distance-graph__distance 0,7 км
                .c-distance-list__item
                    .c-distance-graph.c-distance-graph_two
                        .c-distance-graph__graph
                            .c-distance-graph__title 2. До пляжа у «Ладьи»
                            +svgSprite({
                                name: 'arrow-line',
                                className: 'c-distance-graph__icon',
                                width: 511,
                                height: 13
                            })
                        .c-distance-graph__distance 5,7 км
                .c-distance-list__item
                    .c-distance-graph.c-distance-graph_three
                        .c-distance-graph__graph
                            .c-distance-graph__title 3. До ЖД вокзала
                            +svgSprite({
                                name: 'arrow-line',
                                className: 'c-distance-graph__icon',
                                width: 511,
                                height: 13
                            })
                        .c-distance-graph__distance 7,6 км
                .c-distance-list__item
                    .c-distance-graph
                        .c-distance-graph__graph
                            .c-distance-graph__title 4. До Аэропорта «Курумоч»
                            +svgSprite({
                                name: 'arrow-line',
                                className: 'c-distance-graph__icon',
                                width: 511,
                                height: 13
                            })
                        .c-distance-graph__distance 46 км
    .c-section.c-section_lg
        .container
            .c-section__header
                +sliderHeader({
                    title: 'Наши арендаторы', tabListItems: [
                        {text: 'ВСЕ', href: '#'},
                        {text: 'Финансы', href: '#'},
                        {text: 'Энергетика', href: '#'},
                        {text: 'Технологии', href: '#'},
                        {text: 'Здравоохранение', href: '#'}]
                })
                .slider-container
                    .slider.slider_arendators(data-slider='arendators')
                        .slide
                            .row.c-simple-card-list.u-reset-indent
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-1.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-2.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-3.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-4.jpg').col-12
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-5.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-6.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-7.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-8.jpg')
                        .slide
                            .row.c-simple-card-list.u-reset-indent
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-1.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-2.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-3.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-4.jpg').col-12
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-5.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-6.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-7.jpg')
                                .col-6.col-xl-3.c-simple-card-list__item
                                    .c-simple-card
                                        img.c-simple-card__img(src='images/arendator-8.jpg')
            .c-section__footer
                a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') Показать всех арендаторов

    .c-card-section(style="background-image:url(images/bg-arenda.jpg)")
        +actionCard({text: 'Аренда офисов <br> от 10 м2 до 1350 м <sup>2</sup>', btnText: 'выбрать сейчас'})





