extends ../pug/layout
append content
    .c-section.c-section_lg.c-section_banner(style='background-image:url(images/main-banner.jpg)')
        .container
            .c-banner-content
                h1.c-banner-content__title
                    span.c-banner-content__title_small
                        | Это –
                        br
                    | офисный центр
                    br
                    | класса А в Самаре
                .c-banner-content__controls
                    a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') о центре
                .d-none.d-lg-block.c-banner-content__desc Сочетание современного дизайна, эффективных инженерных решений, комфортной среды и профессионального сервиса
                .c-banner-content__footer
                    .c-action-card
                        .c-action-card__body
                            .c-action-card__content Аренда офисов от 500 руб./м2
    .c-section.c-section_lg
        .container
            .c-section__header
                +sliderHeader({title: 'Новости', tabListItems: models.tabListModel})
        .slider-container
            .c-card-news-list.slider(data-slider='news-main-page')
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
        .container
            .c-section__footer
                a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') посмотреть все новости
    .c-section.c-section_lg.u-bg-secondary
        .container
            .c-section__header.u-color-light класс «А»
            .row
                .col-12.col-xl-6
                    ul.c-arrow-list
                        li.c-arrow-list__item  Удобный доступ к главным артериям города: Московское шоссе и ул. Ново-Садовая. Меньше времени на дорогу, больше – на развитие бизнеса.
                        li.c-arrow-list__item  Панорамное остекление с видом на деловую часть Самары, реку Волга и Жигулевские горы
                        li.c-arrow-list__item  Высота потолков от 3,3 до 5,1 метров соответствует стандартам элитной коммерческой недвижимости.
                        li.c-arrow-list__item  Итальянский дизайн интерьеров, современные планировочные решения создают идеальные условия для продуктивной работы, вдохновляют и заряжают энергией.
                        li.c-arrow-list__item  Центральное кондиционирование «Daikin», приточно-вытяжная вентиляция «Vts Clima» и регулируемая система отопления создают безупречный комфорт.
                        li.c-arrow-list__item  4 пассажирских швейцарских лифта Schindler и 1 грузовой позволяют разделить потоки резидентов центра и соответствовать современным требованиям профилактики инфекционных болезней.
                        li.c-arrow-list__item  Спринклерная водонаполненная система пожаротушения «Grundfos», интеллектуальная система управления зданием «Simens Building Technologies», видеомониторинг периметра и внутренних зон эффективно обеспечивают безопасность.
                        li.c-arrow-list__item  Оптоволоконный доступ в Интернет и неограниченное количество телефонных номеров позволяют всегда оставаться на связи.
                        li.c-arrow-list__item  У РДЦ расположена малая парковка для арендаторов на 382 машиноместа + большая парковка на 500 машиномест
                .col-6.d-none.d-xl-block
                    img.w-100(src='images/BC.svg')

    .c-section.c-section_lg
        .container
            .c-section__header Сервис
            .row.c-card-link-list
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
            .c-section__footer
                a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') Подробнее о сервисе
    .c-section.c-section_lg.c-section_map
        .c-section__header.d-xl-none Инфраструктура
        .c-section__content
            .container
    .c-section.c-section_lg.u-bg-secondary.u-color-light
        .container
            .c-section__header Транспортная доступность
            .row
                .col-12.col-xl-6
                    | Бизнес-центр «Региональный Деловой Центр» расположен в престижном Октябрьском районе г. Самары по адресу: Московское шоссе,
                    br
                    br
                    | д. 41 Рядом с РДЦ пролегают основные транспортные артерии города: Московское шоссе, ул. Авроры, ул. Советской Армии, ул. Ново-Садовая, ул. Стара-Загора. Удобное расположение в географическом и деловом центре города обеспечивает перспективное бизнес-окружение. Бизнес-центр также имеет прямой доступ к историческим и промышленным районам города, междугороднему автовокзалу и международному аэропорту Курумоч.



    .c-section.c-section_lg
        .container
            .c-section__header
                +sliderHeader({title: 'Новости', tabListItems: models.tabListModel})
        .slider-container
            .c-card-news-list.slider(data-slider='news-main-page')
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
        .container
            .c-section__footer
                a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control(href='#') посмотреть все новости

    .c-card-section(style="background-image:url(images/bg-arenda.jpg)")
        +actionCard({text: 'Аренда офисов <br> от 10 м2 до 1350 м <sup>2</sup>', btnText: 'выбрать сейчас'})






