extends ../pug/layout
append content
    .c-section.c-section_lg
        .container
            .c-section__header
                +sliderHeader({title: 'Новости', tabListItems: models.tabListModel})
            .row.c-card-news-list
                .col-12.col-md-6.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
    .c-card-section(style="background-image:url(images/bg-arenda.jpg)")
        +actionCard({text: 'Аренда офисов <br> от 10 м2 до 1350 м <sup>2</sup>', btnText: 'выбрать сейчас'})
    .c-section.c-section_lg
        .container
            .row.c-card-link-list
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)
                .col-12.col-md-6.col-lg-4.c-card-link-list__item
                    +cardLink(models.cardLinkModel)

    button.c-btn.c-btn_size-md.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper(type='button') перезвоните мне
    button.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper(type='button') перезвоните мне
    button.c-btn.c-btn_size-xl.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper(type='button') перезвоните мне
    button.c-btn.c-btn_size-md.c-btn_color-light.c-btn_style-default.c-btn_style-bold-upper(type='button') перезвоните мне
    button.c-btn.c-btn_size-lg.c-btn_color-light.c-btn_style-default.c-btn_style-bold-upper(type='button') перезвоните мне
    button.c-btn.c-btn_size-xl.c-btn_color-light.c-btn_style-default.c-btn_style-bold-upper(type='button') перезвоните мне
    button.c-btn.c-btn_size-md.c-btn_color-secondary.c-btn_style-ghost.c-btn_style-bold-upper(type='button') РАспечатать планировку
    button.c-btn.c-btn_size-lg.c-btn_color-secondary.c-btn_style-ghost.c-btn_style-bold-upper(type='button') РАспечатать планировку
    button.c-btn.c-btn_size-xl.c-btn_color-secondary.c-btn_style-ghost.c-btn_style-bold-upper(type='button') РАспечатать планировку
    button.c-btn.c-btn_size-md.c-btn_color-light.c-btn_style-ghost(type='button') Московское шоссе, 41
    button.c-btn.c-btn_size-lg.c-btn_color-light.c-btn_style-ghost(type='button') Московское шоссе, 41
    button.c-btn.c-btn_size-xl.c-btn_color-light.c-btn_style-ghost(type='button') Московское шоссе, 41
    button.c-btn-ico.c-btn-ico_md.c-btn-ico_color-primary(type='button')
        +svgSprite({name: 'arrow', calssName: 'c-btn-ico__icon', width: 17, height: 12})