extends ../pug/layout
append content
    .c-section.c-section_lg
        .container
            .c-section__header
                +tabList(models.tabListModel)
            .row.c-card-news-list
                .col-12.col-md-6.c-card-news-list__item
                    +newsCardPrimary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
                .col-12.col-md-6.col-lg-3.c-card-news-list__item
                    +newsCardSecondary(models.newsCardModel)
        .container
            .c-section__footer
                a.c-btn.c-btn_size-lg.c-btn_color-primary.c-btn_style-default.c-btn_style-bold-upper.c-btn_section-control_sm(href='#') Загрузить еще новости

