body {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  /*TODO
     удалить
  */
  background-color: #aecfe1;
}

.c-action-card {
  padding: 28px;
  background-color: rgba($color-primary, .9);
  width: 234px;
  max-width: 100%;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__content {
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
  }

  &__ctrls {
    margin-top: 10px;
  }
}

@media (min-width: $bp-xl) {
  .c-action-card {
    width: 308px;
    padding: 40px 40px 30px;

    &__content {
      font-size: 28px;
    }

    &__ctrls {
      margin-top: 24px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-action-card {
    width: 434px;
    padding: 55px 55px 44px;

    &__content {
      font-size: 32px;
    }

    &__ctrls {
      margin-top: 40px;
    }
  }

}

.c-card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 197px;
  padding-bottom: 197px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-card-news {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow .2s ease-in;

  &:hover, &:focus {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  &__title {
    font-weight: 700;
  }

  &__info {
    border-top: 1px solid currentColor;
  }

  &_lg {
    line-height: 1.2;

    .c-card-news__body {
      padding: 124px 15px 20px;
    }

    .c-card-news__title {
      font-weight: 700;
      font-size: 14px;
    }

    .c-card-news__info {
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  &_md {
    line-height: 1.2;

    .c-card-news__body {
      padding: 28px 20px 18px;
    }

    .c-card-news__title {
      font-weight: 700;
      font-size: 14px;
    }

    .c-card-news__info {
      padding-top: 15px;
      margin-top: 52px;
    }
  }

  &_color-light {
    color: $color-light;
  }

  &_color-dark {
    color: $color-dark;
    background-color: $color-light;
  }

  &_style-primary {
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_style-secondary {
    justify-content: space-between;

    .c-card-news__photo {
      height: 162px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &__img {
        width: 100%;
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .c-card-news {

    &_lg {
      .c-card-news__body {
        padding: 224px 38px 18px;
      }

      &__title {
        font-size: 18px;
      }

      &__info {
        padding-top: 15px;
        margin-top: 28px;
      }
    }

  }
}

@media (min-width: $bp-xxl) {
  .c-card-news {

    &_lg {
      .c-card-news__body {
        padding: 314px 55px 26px;
      }

      &__title {
        font-size: 24px;
      }

      &__info {
        padding-top: 20px;
        margin-top: 42px;
      }
    }

    &_md {
      .c-card-news__body {
        padding: 40px 30px 26px;
      }

      &__title {
        font-size: 24px;
      }

      &__info {
        padding-top: 20px;
        margin-top: 42px;
      }
    }

    &_style-secondary {
      .c-card-news__photo {
        height: 230px;
      }
    }

  }
}

.c-news-info {
  display: flex;
  margin-right: -17px;
  margin-left: -17px;

  &__item {
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: -4px;
    margin-right: -4px;
    align-items: center;
  }

  &__icon {
    fill: currentColor;
    padding-left: 4px;
    padding-right: 4px;
  }

  &__text {
    font-size: 12px;
    color: currentColor;
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media (min-width: $bp-xl) {
  .c-news-info {
    margin-right: -8px;
    margin-left: -8px;

    &__item {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-news-info {
    margin-right: -10px;
    margin-left: -10px;

    &__item {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.c-card-link {
  line-height: 1.4;
  color: $color-light;
  height: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: box-shadow .2s ease-in;

  &:hover, &:focus {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  &__body {
    padding: 180px 15px 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
  }
}

@media (min-width: $bp-xl) {
  .c-card-link {
    &__body {
      padding: 138px 20px 18px;
    }
    &__title {
      font-size: 15px;
    }

  }
}

@media (min-width: $bp-xxl) {
  .c-card-link {
    padding: 20px 30px;
    height: 280px;

    &__title {
      font-size: 18px;
    }
  }
}

.c-card-list {
  &__item {
    margin-bottom: 10px;
  }
}