
body {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
}

.c-action-card {
  padding: 28px;
  background-color: rgba($color-primary, .75);
  width: 234px;
  max-width: 100%;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__content {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
  }

  &__ctrls {
    margin-top: 10px;
  }
}

@media (min-width: $bp-xl) {
  .c-action-card {
    width: 308px;
    padding: 40px 40px 30px;

    &__content {
      font-size: 28px;
    }

    &__ctrls {
      margin-top: 24px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-action-card {
    width: 434px;
    padding: 55px 55px 44px;

    &__content {
      font-size: 32px;
    }

    &__ctrls {
      margin-top: 40px;
    }
  }

}

.c-card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 556px;
}

@media (min-width: $bp-xl) {
  .c-card-section {
    min-height: 662px;
  }
}

@media (min-width: $bp-xxl) {
  .c-card-section {
    min-height: 930px;
  }
}

.c-news-info {
  display: flex;
  flex-wrap: wrap;
  margin-right: -17px;
  margin-left: -17px;

  &__item {
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: -4px;
    margin-right: -4px;
    align-items: center;
  }

  &__icon {
    fill: currentColor;
    padding-left: 4px;
    padding-right: 4px;
  }

  &__text {
    font-size: 12px;
    color: currentColor;
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media (min-width: $bp-xl) {
  .c-news-info {
    margin-right: -8px;
    margin-left: -8px;

    &__item {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-news-info {
    margin-right: -10px;
    margin-left: -10px;

    &__item {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.c-card-news-list {
  &__item {
    margin-bottom: 20px;
    height: 216px;
  }
}

.c-card-link-list {
  &__item {
    margin-bottom: 20px;
    min-height: 216px;
  }
}

@media (min-width: $bp-sm) {
  .c-card-news-list {
    &__item {
      height: 342px;
    }
  }
  .c-card-link-list {
    &__item {
      min-height: 198px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-card-news-list {
    &__item {
      height: 482px;
    }
  }
  .c-card-link-list {
    &__item {
      min-height: 278px;
    }
  }
}

.c-slider-header {
  align-items: center;

  &__title {
    font-size: 32px;
    line-height: 1.1;
    color: $color-dark;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
  }

  &__tabs {

  }
}

@media (min-width: $bp-xl) {
  .c-slider-header {
    &__title {
      font-size: 55px;
    }

    &__nav {
      order: 1;
    }

    &__tabs {

    }
  }
}

@media (min-width: $bp-xxl) {
  .c-slider-header {
    &__title {
      font-size: 70px;
    }
  }
}

.c-slider-nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7px;
  margin-left: -7px;

  &__item {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.slider {
  overflow: hidden;

  .slick-track {
    display: flex;
  }

  .c-card-news_style-primary {
    width: 320px;
  }

  .c-card-news_style-secondary {
    width: 241px;
  }

  &_news {
    .slick-slide {
      margin: 0 13px;

      .c-card-news-list__item {
        margin-bottom: 0;
      }
    }
  }

  &_arendators {
    .slick-slide {
      margin: 0 50px;
    }
  }
}

@media (min-width: $bp-xl) {
  .slider {
    .c-card-news_style-primary {
      width: 507px;
    }

    .c-card-news_style-secondary {
      width: 241px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .slider {
    .c-card-news_style-primary {
      width: 713px;
    }

    .c-card-news_style-secondary {
      width: 339px;
    }
  }
}

.c-banner-content {
  color: $color-light;

  &__desc {
    margin-top: 22px;
    font-size: 15px;
    line-height: 1.4;
    width: 360px;
    max-width: 100%;
  }

  &__title {
    font-family: $font-secondary;
    line-height: 1.1;
    font-size: 25px;
    font-weight: 400;
  }

  &__title_small {
    font-size: 14px;
  }

  &__title_big {
  }

  &__controls {
    margin-top: 6px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  &__footer .c-action-card {
    width: 100%;
    padding: 26px;
  }

  &__footer .c-action-card .c-action-card__content {
    line-height: 1.4;
    color: $color-dark;
  }

  &__controls .c-btn {
    width: 100px;
  }
}

@media (min-width: $bp-xl) {
  .c-banner-content {
    &__title {
      font-size: 55px;
      line-height: 1.1;
    }

    &__title_small {
      font-size: 18px;
      line-height: 1;
    }

    &__controls {
      margin-top: 10px;
    }

    &__footer {
      width: 340px;
      bottom: -28px;
    }

    .c-banner-content__controls .c-btn {
      width: 124px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-banner-content {
    &__desc {
      margin-top: 32px;
      font-size: 18px;
      width: 430px;
    }

    &__title {
      font-size: 70px;
    }

    &__title_small {
      font-size: 25px;
    }

    &__controls {
      margin-top: 14px;
    }

    .c-banner-content__controls .c-btn {
      width: 175px;
    }

    &__footer {
      width: 478px;
      bottom: -40px;
    }
  }
}

.c-map-guide {
  font-family: $font-secondary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color-secondary, .85);
  display: flex;
  max-height: 500px;

  &__left {
    padding: 10px 15px 15px;
    overflow-y: scroll;
    @include hide-scrollbar();

  }

  &__right {
    padding: 20px;
    width: 250px;
    overflow-y: scroll;
    @include hide-scrollbar();
  }
}

.c-map-list {
  &__list {
    margin-bottom: -15px;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__header {
    font-size: 21px;
    line-height: 1.1;
    color: $color-dark;
  }
}

.c-map-item {
  display: flex;
  color: $color-light;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;

  &:hover, &:focus, &_active {
    color: $color-primary-dark;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__title {
    display: none;
  }

  &__count {
    display: none;
  }

  &__icon-ico {
    display: flex;
    height: auto;
  }
}

@media (min-width: $bp-xl) {
  .c-map-guide {
    top: 106px;
    left: 162px;
    width: auto;

    &__left {
      width: 266px;
      background-color: $color-light;
      padding: 22px 12px 30px 18px;
    }

    &__right {
      display: block;
    }
  }
  .c-map-item {
    color: $color-dark;
    justify-content: space-between;

    &__title {
      display: inline-block;
    }

    &__count {
      display: inline-block;
      color: #A9A9A9;
    }

    &__icon {
      margin-right: 12px;
      width: 28px;
    }
  }
  .c-map-list {
    &__list {
      margin-bottom: -25px;

    }

    &__item {
      margin-bottom: 25px;
    }

    &__header {
      display: block;
      margin-bottom: 22px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-map-guide {
    top: 150px;
    left: 230px;
    max-height: 700px;

    &__left {
      width: 376px;
      padding: 30px 18px 40px 25px;
    }

    &__right {
      padding: 30px;
      width: 352px;
    }
  }
  .c-map-item {
    font-size: 20px;

    &__icon {
      width: 40px;
    }
  }
  .c-map-list {
    &__header {
      margin-bottom: 32px;
      font-size: 30px;
    }

    &__list {
      margin-bottom: -40px;
    }

    &__item {
      margin-bottom: 40px;
    }
  }
}

.c-map-suggestion {
  &:hover, &:focus {
    .c-map-suggestion__title {
      color: $color-primary-dark;
      text-decoration: none;
    }
  }

  &__preview {
    height: 82px;
    width: 100%;
    background-color: $color-secondary;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    text-decoration: underline;
    color: $color-light;
    font-size: 13px;
    line-height: 1.3;
    margin-top: 6px;
  }
}

.c-map-suggestions {
  &__item + &__item {
    margin-top: 26px;
  }

  &__header {
    font-size: 21px;
    line-height: 1.1;
    color: $color-light;
    margin-bottom: 16px;
  }
}

@media (min-width: $bp-xxl) {
  .c-map-suggestions {
    &__item + &__item {
      margin-top: 40px;
    }

    &__header {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  .c-map-suggestion {
    &__preview {
      height: 116px;
    }

    &__title {
      font-size: 18px;
      margin-top: 8px;
    }
  }

}

.c-distance-graph {
  display: flex;
  align-items: flex-end;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    color: $color-primary;
  }

  &__graph {
    margin-right: 10px;
  }

  &__icon {
    width: 230px;
  }

  &__distance {
    font-size: 20px;
    line-height: 1.1;
    color: $color-light;
  }

  &_one {
    .c-distance-graph__icon {
      width: 144px;
    }
  }

  &_two {
    .c-distance-graph__icon {
      width: 170px;
    }
  }

  &_three {
    .c-distance-graph__icon {
      width: 190px;
    }
  }
}

@media (min-width: $bp-xl) {
  .c-distance-graph {
    &__title {
      font-size: 16px;
    }

    &__graph {
      margin-right: 15px;
    }

    &__icon {
      width: 510px;
      height: 22px;
    }

    &__distance {
      font-size: 25px;
    }

    &_one {
      .c-distance-graph__icon {
        width: 170px;
      }
    }

    &_two {
      .c-distance-graph__icon {
        width: 230px;
      }
    }

    &_three {
      .c-distance-graph__icon {
        width: 310px;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-distance-graph {
    &__title {
      font-size: 22px;
    }

    &__icon {
      width: 718px;
      height: 32px;
    }

    &__distance {
      font-size: 35px;
    }

    &_one {
      .c-distance-graph__icon {
        width: 240px;
      }
    }

    &_two {
      .c-distance-graph__icon {
        width: 324px;
      }
    }

    &_three {
      .c-distance-graph__icon {
        width: 432px;
      }
    }
  }
}

.c-distance-list {
  position: relative;

  &__item + &__item {
    margin-top: 15px;
  }
}

@media (min-width: $bp-xl) {
  .c-distance-list {
    &__item + &__item {
      margin-top: 20px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-distance-list {
    &__item + &__item {
      margin-top: 30px;
    }
  }
}

.c-decor-wrap {
  position: relative;
}

.c-decor-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-decor {
  &_transport {
    width: 100%;
    min-height: 366px;
    max-width: 350px;
    max-height: none;
  }
}

@media (min-width: $bp-xl) {
  .c-decor {
    &_transport {
      position: absolute;
      bottom: 55px;
      right: -140px;
      width: 916px;
      height: 606px;
      max-width: 100%;

    }
  }
}

@media (min-width: $bp-xxl) {
  .c-decor {
    &_transport {
      bottom: 78px;
      right: -200px;
      width: 1287px;
      height: 852px;
    }
  }
}

.transport-desc {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 32px;
}

@media (min-width: $bp-xxl) {
  .transport-desc {
    font-size: 14px;
  }
}

@media (min-width: $bp-xl) {
  .transport-desc {
    font-size: 20px;
  }
}

.c-simple-card {
  @include border-shadow(1px, $color-dark);
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    max-width: 80%;
  }
}

.c-simple-card-list {
  display: flex;
  width: 290px;

  &__item {
    //width: 145px;
    height: 95px;
  }
}

@media (min-width: $bp-sm) {
  .c-simple-card-list {
    width: 514px;
  }
  .slider {
    &_arendators {
      .slick-slide {
        margin: 0;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .c-simple-card-list {
    width: 694px;
  }
}

@media (min-width: $bp-lg) {
  .c-simple-card-list {
    width: 934px;
    margin: 0;

    &__item {
      height: 170px;
    }
  }
}

@media (min-width: $bp-xl) {
  .c-simple-card-list {
    width: 1038px;
  }
}

@media (min-width: $bp-xxl) {
  .c-simple-card-list {
    width: 1462px;

    &__item {
      height: 240px;
    }
  }
}

.slide {
  margin-top: 2px;
}

.c-line {
  color: $color-primary;
  width: 144px;
  display: flex;
  align-items: center;

  &_1 {
    width: 170px;
  }

  &_2 {
    width: 190px;
  }

  &_3 {
    width: 230px;
  }

  &__line {
    height: 4px;
    background: currentColor;
    flex-grow: 1;
    margin-right: -2px;
  }

  &__icon {
    transform: rotate(90deg);
  }
}

@media (min-width: $bp-lg) {
  .c-line {
    width: 170px;

    &_1 {
      width: 230px;
    }

    &_2 {
      width: 308px;
    }

    &_3 {
      width: 510px;
    }
  }
}

@media (min-width: 1920px) {
  .c-line {
    width: 238px;

    &_1 {
      width: 324px;
    }

    &_2 {
      width: 432px;
    }

    &_3 {
      width: 718px;
    }
  }
}

.c-description {
  color: #191D24;
  line-height: 1;
  font-size: 14px;
  margin-bottom: 15px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 155px;
  }

  &__desc {
    padding: 15px;
  }

}

@media (min-width: $bp-md) {
  .c-description {
    height: 330px;
    margin-bottom: 0;
    line-height: 1.6;

    &__item {
      justify-content: flex-start;
    }

    &__item_left {
      justify-content: flex-end;
    }

    &__img {
      height: 100%;
    }

    &__desc {
      max-height: 290px;
      overflow: scroll;
    }

    &_left-desc {
      .c-description__desc {
        padding: 15px 34px 15px 12px;
      }
    }

    &_right-desc {
      .c-description__desc {
        padding: 15px 12px 15px 34px;
      }
    }
  }

}


@media (min-width: $bp-xl) {
  .c-description {

    &_left-desc {
      .c-description__desc {
        padding-right: 54px;
      }
    }

    &_right-desc {
      .c-description__desc {
        padding-left: 54px;
      }
    }
  }
}


@media (min-width: $bp-xxl) {

  .c-description {
    font-size: 19px;
    height: 466px;

    &__desc {
      max-height: 420px;
    }

    &_left-desc {
      .c-description__desc {
        padding-right: 58px;
      }
    }

    &_right-desc {
      .c-description__desc {
        padding-left: 58px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .c-description {
    &_left-desc {
      .c-description__desc {
        padding-right: 58px;
      }
    }

    &_right-desc {
      .c-description__desc {
        padding-left: 58px;
      }
    }
  }
}


.half-container {
  width: 390px;
}

@media (min-width: $bp-sm) {
  .half-container {
    width: 540px;
  }
}

@media (min-width: $bp-md) {
  .half-container {
    width: 360px;
  }
}

@media (min-width: $bp-lg) {
  .half-container {
    width: 480px;
  }
}

@media (min-width: $bp-xl) {
  .half-container {
    width: 532px;
  }
}

@media (min-width: $bp-xxl) {
  .half-container {
    width: 742px;
  }
}


.c-descr {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-size: 14px;
  line-height: 1.6;

  &__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-family: $font-secondary;
  }

  &__item_text {
    background-color: rgba($color-dark, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 208px;
  }


  &__text {
    color: $color-light;
    padding: 0 15px 0 15px
  }

  &__img {
  }
}

@media (min-width: $bp-md) {
  .c-descr {

    &__title {
      font-size: 25px;
    }

    &__text {
      padding-right: 20px;
      padding-left: 12px;
    }

    &__item_text {
      justify-content: flex-end;
    }

  }
}

@media (min-width: $bp-xl) {
  .c-descr {
    &__item_text {
      padding-top: 150px;
      padding-bottom: 176px;
    }

    &__text {
      padding-right: 40px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-descr {
    font-size: 18px;

    &__item_text {
      padding-top: 210px;
      padding-bottom: 272px;
    }

    &__title {
      font-size: 37px;
    }

    &__text {
      padding-right: 56px;
    }
  }
}