.c-card-news {
  display: flex;
  flex-direction: column;
  transition: box-shadow .2s ease-in;
  height: 100%;
  line-height: 1.2;

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
  }

  &__title {
    font-weight: 700;
  }

  .c-card-news__photo {
    background-color: #ccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &_lg {
    .c-card-news__info{
      border-top: 1px solid currentColor;
    }
    .c-card-news__body {
      padding: 20px 15px;
    }

    .c-card-news__title {
      font-size: 14px;
    }

    .c-card-news__info {
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  &_md {
    .c-card-news__info:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      border-top: 1px solid currentColor;
      width: 100%;
    }
    .c-card-news__info {
      padding-top: 20px;
      margin-top: auto;
      position: relative;
    }
    .c-card-news__body {
      padding: 20px 18px;
    }

    .c-card-news__title {
      font-size: 12px;
    }
  }

  &_style-primary {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .c-card-news__photo {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
  &_style-secondary {
    .c-card-news__body {
      border: 1px solid $color-dark;
    }

    .c-card-news__photo {
      height: 162px;
      flex-shrink: 0;
    }
  }

  &_color-light {
    color: $color-light;
  }

  &_color-dark {
    color: $color-dark;
    background-color: $color-light;
  }


  &:hover, &:focus {
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 15px 8px;
  }
}

@media (min-width: $bp-xl) {
  .c-card-news {

    &_lg {
      .c-card-news__body {
        padding: 18px 40px;
      }

      .c-card-news__title {
        font-size: 18px;
      }

      .c-card-news__info {
        padding-top: 15px;
        margin-top: 28px;
      }
    }

    &_md {
      .c-card-news__title {
        font-size: 14px;
      }
      .c-card-news__info:before {
        top: 15px;
      }
      .c-card-news__info {
        padding-top: 30px;
        //margin-top: 52px;
      }
    }

  }
}

@media (min-width: $bp-xxl) {
  .c-card-news {

    &_lg {
      .c-card-news__body {
        padding: 26px 52px;
      }

      .c-card-news__title {
        font-size: 24px;
      }

      .c-card-news__info {
        padding-top: 20px;
        margin-top: 42px;
      }
    }

    &_md {
      .c-card-news__body {
        padding: 26px 30px;
      }

      .c-card-news__title {
        font-size: 18px;
      }
      .c-card-news__info:before {
        top: 20px;
      }
      .c-card-news__info {
        padding-top: 40px;
        //margin-top: 80px;
      }
    }

    &_style-secondary {
      .c-card-news__photo {
        height: 230px;
      }
    }
  }
}


.c-card-link {
  padding: 20px 15px;
  line-height: 1.4;
  color: $color-light;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  transition: box-shadow .2s ease-in;

  &:hover, &:focus {
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 15px 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
  }
}

@media (min-width: $bp-xl) {
  .c-card-link {
    padding: 20px;

    &__title {
      font-size: 15px;
    }

  }
}

@media (min-width: $bp-xxl) {
  .c-card-link {
    padding: 20px 30px;

    &__title {
      font-size: 18px;
    }
  }
}