.c-section {
  &_lg {
    padding-top: 30px;
    padding-bottom: 30px;

    .c-section__header {
      margin-bottom: 15px;
      font-size: 32px;
      line-height: 1.1;
    }

    .c-section__footer {
      margin-top: 15px;

      .c-btn_section-control {
        width: 176px;
      }
    }
  }

  .c-section__footer {
    display: flex;
    justify-content: center;
  }

  &_banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
    position: relative;

  }

  &_lg.c-section_banner {
    height: 420px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &_lg.c-section_map{
    padding: 0;
  }
  &_lg.c-section_map .c-section__content{
    min-height: 450px;
    background-image: url(images/map.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

@media (min-width: $bp-xl) {
  .c-section {
    &_lg {
      padding-top: 70px;
      padding-bottom: 70px;

      .c-section__header {
        margin-bottom: 25px;
        font-size: 50px;
      }

      .c-section__footer {
        margin-top: 26px;

        .c-btn_section-control {
          width: 286px;
        }
      }
    }

    &_lg.c-section_banner {
      padding-top: 138px;
      padding-bottom: 28px;
      height: 660px;
    }

    &_banner .container {
      position: relative;
      height: 100%;
    }

    &_lg.c-section_map .c-section__content{
      min-height: 660px;
      padding-top: 100px;
      padding-bottom: 100px;
    }

  }

}

@media (min-width: $bp-xxl) {
  .c-section {
    &_lg {
      padding-top: 70px;
      padding-bottom: 70px;

      .c-section__header {
        margin-bottom: 25px;
        font-size: 70px;
      }

      .c-section__footer {
        margin-top: 70px;
      }
    }

    &_lg.c-section_banner {
      padding-top: 192px;
      padding-bottom: 40px;
      height: 930px;
    }
    &_lg.c-section_map .c-section__content{
      min-height: 930px;
    }
  }
}

@media (min-width: $bp-xxl) {
  .c-tab-item {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 36px;
  }
}